<!-- Partition page into 2 columns -->

<div class="row">

	<!-- Categories Column Begin -->
	<div class="col-3">
	    <product-filter [category]="category"></product-filter>
	</div>
	<!-- Categories Column End -->

	<!-- Products Column End -->
	<div class="col">
		<!-- Bootstrap Card for Product -->

		<div class="row">
			<ng-container *ngFor="let p of filteredProducts; let i = index">
			<div class="col">
				<!--  Bootstrap card -->
				<product-card [product]="p" [shopping-cart]="cart"></product-card>
				<!-- End of Bootstrap card -->
			</div>
			<!-- Line Break after every 2 products -->
			<div *ngIf="(i+1)%2===0" class="w-100"></div>
			<!-- Line Break End --> </ng-container>
		</div>
		<!-- End of Bootstrap Card -->
	</div>
	<!-- Products Column End -->


</div>
<!-- End of Partition. -->


